<h1>Editing page</h1>

<span class="pagetitle"><%= @page.title %></span>

<%= render :partial => "header" %>

<%= start_form_tag :action => 'update', :id => @page%>
  <%= render :partial => "form" %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @page%> |
<%= link_to 'Back', :action => 'list' %>
