<table cellpadding="4px" width="100%" class="preview-content boxDiv" border="0">
  <tr><th class="smalltext">Preview Start</th></tr>
  <tr><td><span>
        <%= markup @preview_page %>
  </span></td></tr>
  <tr><th class="smalltext">Preview End</th></tr>
</table>

